body {
    text-align:center;
    font-family: 'Wire One';
    cursor:default;
}

#top {
    padding-top:30px;
}

#alexaface {
    background: url('../img/me.jpg');
    background-size:cover;
    height:250px;
    width:250px;
    border-radius:50%;
    margin: 0 auto;
    border: 5px solid black;
    margin-top:200px;
    margin-bottom:50px;
}

#hi {
    margin-right:10px;
    font-size:25px;
    margin-bottom:60px;
}

#name {
    font-family: 'Dawning of a New Day';
    font-size:100px;
    margin-right:3px;
    margin-left:3px;
    margin-top:-20px;
    margin-bottom:-20px;
}

#projects {
    margin-bottom: 200px;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color:rgba(200,200,200,1);
}

#top-nav {
    margin-top:-50px;
    padding-top:20px;
    position:fixed;
    left:0;
    right:0;
    background-color: rgba(255,255,255,.99);
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    z-index:100;
}

#top-nav.dark-bg {
    background-color : rgba(20,80,90,.8);
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

#top-nav.dark-bg a {
    color: white;
}

#top-nav.dark-bg a:hover {
    color: rgba(225,225,225,1);
}

li {
    display: inline;
    padding:70px;
    font-size:50px;
}

.contact-icons {
    height:60px;
    padding:30px;
}

#top-nav li > a.active {
    color:rgba(200,200,200,1);
}

#contact {
    margin-bottom:250px;
}
#about-me {
    font-size:30px;
    margin-top:100px;
    padding-top:120px;
    line-height:40px;
    margin-bottom:30px;
}
.game-image {
    opacity:0.7;
    height:200px;
    border: 5px solid black;
    box-shadow: 2px 2px 5px black;
}

#face-img {
    height:100px;
    margin-top: -30px;
}

#coming-soon {
    margin-left: -80px;
}

.game-image:hover {
    opacity:1;
    border: 5px solid #198006;
    box-shadow: 4px 4px 5px #18590C;
}

.container {
    margin-bottom:5em;
}

.games {
    font-size:50px;
}

.row-header {
    font-size:40px;
    margin-top:30px;
    margin-bottom:2em;
    line-height:50px;
}

h2 {
    font-size:60px;
    margin-bottom: -50px;
}
.my-line {
    width: 80%;
    height: .5px;
    margin-bottom: 200px;
}