body {
    text-align:center;
    font-family: 'Wire One';
    cursor:default;
}

#top {
    padding-top:30px;
}

#alexaface {
    background: url('../img/me.jpg');
    background-size:cover;
    height:250px;
    width:250px;
    border-radius:50%;
    margin: 0 auto;
    border: 5px solid black;
    margin-top:200px;
    margin-bottom:50px;
}

#hi {
    font-size:25px;
    margin-bottom:60px;
}

#name {
    font-family: 'Dawning of a New Day';
    font-size:100px;
    margin: 0 3px 50px 0;
}

#projects {
    margin-bottom: 200px;
}

a {
    color:black;
    text-decoration: none;
}

.header-text {
    margin: 0 auto;
    width: 550px;
}

#top-nav {
    text-transform: lowercase;
    margin-top:-50px;
    padding-top:20px;
    position:fixed;
    left:0;
    right:0;
    background-color: rgba(255,255,255, 1);
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    z-index:100;
}

#top-nav.dark-bg {
    background-color : rgba(20,80,90,1);
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

#top-nav.dark-bg a {
    color: white;
}

#top-nav a:hover, #top-nav li > a.active {
    border-top: 4px solid;
    padding-top: 2px;
}

#top-nav li {
    display: inline;
    padding:70px;
    font-size:50px;
}

.contact-icons {
    height:60px;
    padding:30px;
}

#contact {
    margin-bottom:250px;
}
#about-me {
    font-size:30px;
    margin-top:100px;
    padding-top:120px;
    line-height:40px;
    margin-bottom:30px;
}
.game-image {
    opacity:0.7;
    height:200px;
    border: 5px solid black;
    box-shadow: 2px 2px 5px black;
}

#face-img {
    height:100px;
    margin-top: -30px;
}

#coming-soon {
    margin-left: -80px;
}

.container {
    margin-bottom:5em;
}

.projects {
    font-size:50px;
}

.row-header {
    font-size:40px;
    margin-top:30px;
    margin-bottom:2em;
    line-height:50px;
}

#resume table {
    font-size: 30px;
    margin: 0 auto;
    margin-bottom:300px;
}
#resume table td {
    text-align: left;
    padding: 15px 40px 15px 40px;
}
h2 {
    font-size:60px;
}
name {
    font-family: 'Oswald';
    font-size: 25px;
}
.my-line {
    width: 80%;
    height: .5px;
    margin-bottom: 200px;
}

@media (max-width: 1000px) {
    #top-nav li {
        padding-left: 20px;
        padding-right:20px;
    }
    #name {
        font-size:70px;
    }
}

@media (max-width: 600px) {
    #top-nav li {
        padding-left: 20px;
        padding-right:20px;
        font-size:30px;
    }
    .header-text {
        width: 300px;
    }
}