body {
    min-width:900px; 
}

#main-panel {
    text-align:center;
    margin-left:-20%;
}

#hello {
	font:55px 'Griffy';
}

canvas {
	border: 1px solid black;
}

#sidenote {
    font: 15px Arial;
}

#right-panel {
    font: 16px Helvetica;
	margin-left:calc(50% + 150px); 
	margin-top:-18em;
	width:200px;
}

#input {
	margin-bottom: 50px;
}

#word-input {
	margin-top:10px;
	width:90%;
	font: 14px Helvetica;
}
